@use './colors.scss' as c;
@use './reset.scss';


nav {

    .navbar-nav.nav-link.show,
    .navbar-brand,
    .nav-link,
    .fa-bars {
        color: c.$white;
    }

    .navbar-brand {
        font-weight: bold;
    }

    .navbar-brand:hover {
        color: c.$main-color;
    }

    .navbar-toggler {
        padding: 10px 15px;
    }

    .nav-link:focus,
    .nav-link:hover,
    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link.show {
        color: c.$main-color;
    }

}